<!DOCTYPE html>
<html lang="en">
<head>

        <title>Piwik for this blog</title>
        <meta charset="utf-8" />
        <link href="http://euer.krebsco.de/atom.xml" type="application/atom+xml" rel="alternate" title="only code is pure Full Atom Feed" />


        <!-- Mobile viewport optimized: j.mp/bplateviewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" type="text/css" href="./theme/gumby.css" />
        <link rel="stylesheet" type="text/css" href="./theme/style.css" />
        <link rel="stylesheet" type="text/css" href="./theme/pygment.css" />

        <script src="./theme/js/libs/modernizr-2.6.2.min.js"></script>






</head>

<body id="index" class="home">


    <div class="container">

        <div class="row">

          <header id="banner" class="body">
                  <h1><a href=".">only code is pure <strong></strong></a></h1>
          </header><!-- /#banner -->

            <div id="navigation" class="navbar row">
              <a href="#" gumby-trigger="#navigation &gt; ul" class="toggle"><i class="icon-menu"></i></a>
             
              <ul class="columns">
                <li><a href=".">Home</a></li>

                <li><a href="/wiki/knowledge_base.html">Wiki</a></li>
                <li><a href="/graphs/retiolum/">Graphs</a></li>
                <li><a href="/atom.xml">RSS</a></li>
                <li><a href="./pages/about.html">About</a></li>

              </ul>
            </div>

<section id="content" class="body">

   <div class="row">
        <div class="eleven columns">


            <header>
              <h2 class="entry-title">
                <a href="./piwik-for-this-blog.html" rel="bookmark"
                   title="Permalink to Piwik for this blog">Piwik for this blog</a></h2>
           
            </header>
            <footer class="post-info">
              <abbr class="published" title="2014-02-18T08:00:00">
                Tue 18 February 2014
              </abbr>
              <address class="vcard author">
                By <a class="url fn" href="./author/makefu.html">makefu</a>
              </address>
            </footer><!-- /.post-info -->
            <div class="entry-content">
              <p>I was looking for a simple analytics tool for this blog. As everyone seems to
be using <strong>piwik</strong> and everyone loves <strong>docker</strong> for rapid deployment. As i am
always short on resources on all my machines i decided to deploy piwik on
another of my VMs which is <tt class="docutils literal">mediengewitter.krebsco.de</tt> instead of directly on
<tt class="docutils literal">euer.krebsco.de</tt> Again it was a case of 'how-hard-can-it-be?'.
Turns out everything is much harder than expected.
As always this this is the digest of some hours work.</p>
<div class="section" id="installing-piwik-in-docker">
<h2>Installing piwik in docker</h2>
<p>After testing out all kinds of non-working Dockerfiles, this is what worked for
me:</p>
<div class="highlight"><pre>git clone https://github.com/makefu/docker-piwik.git piwik
<span class="nb">cd </span>piwik
./build

<span class="c"># if you want persistence, see:</span>
mkdir -p /media/ext/piwik/<span class="o">{</span>www,mysql<span class="o">}</span>
cat README
</pre></div>
</div>
<div class="section" id="running-piwik">
<h2>Running piwik</h2>
<p>Because docker handles it's own network, the docker image port 80 must be
forwarded to the host (i use 10000). Also i want data persistence via exported filesystems.</p>
<div class="highlight"><pre>docker run -p<span class="o">=</span>10000:80 -d
  <span class="se">\ </span>-v /media/ext/piwik/www:/var/www
  <span class="se">\ </span>-v /media/ext/piwik/mysql:/var/lib/mysql piwik
<span class="c"># or ./run</span>
</pre></div>
</div>
<div class="section" id="adding-piwik-to-pelican">
<h2>Adding piwik to pelican</h2>
<p>Integration of piwik tracking to pelican <strong>should</strong> be straight forward, just
add the following to your <tt class="docutils literal">pelicanconf.py</tt>:</p>
<div class="highlight"><pre><span class="n">PIWIK_URL</span><span class="o">=</span><span class="s">&#39;mediengewitter.krebsco.de:10000&#39;</span>
<span class="c"># first piwik site is always id 1</span>
<span class="n">PIWIK_SITE_ID</span><span class="o">=</span><span class="mi">1</span>
</pre></div>
<p>Bit nothing seemed to be happening, turns out my theme of choice does not
support piwik so i had to add this feature explicitly to the skin (by stealing
the code from another theme). I created a pull request for my code:
<a class="reference external" href="https://github.com/getpelican/pelican-themes/pull/195">https://github.com/getpelican/pelican-themes/pull/195</a> .
If it will never be merged, use my repository for themes:</p>
<div class="highlight"><pre><span class="nb">cd</span> &lt;pelican-dir&gt;
git clone git@github.com:makefu/pelican-themes.git -b add-piwik-to-gum themes
</pre></div>
</div>
<div class="section" id="add-piwik-to-another-skin">
<h2>Add piwik to another skin</h2>
<p>If you are using another skin without piwik integration, this is basically what you
need to do:</p>
<ol class="arabic simple">
<li>Add piwik.html to '<tt class="docutils literal"><span class="pre">&lt;skin&gt;/templates</span></tt>'</li>
</ol>
<div class="highlight"><pre>{% if PIWIK_URL and PIWIK_SITE_ID %}
<span class="nt">&lt;script </span><span class="na">type=</span><span class="s">&quot;text/javascript&quot;</span><span class="nt">&gt;</span>
<span class="p">{</span><span class="o">%</span> <span class="k">if</span> <span class="nx">PIWIK_SSL_URL</span> <span class="o">%</span><span class="p">}</span>
    <span class="kd">var</span> <span class="nx">pkBaseURL</span> <span class="o">=</span> <span class="p">((</span><span class="s2">&quot;https:&quot;</span> <span class="o">==</span> <span class="nb">document</span><span class="p">.</span><span class="nx">location</span><span class="p">.</span><span class="nx">protocol</span><span class="p">)</span> <span class="o">?</span> <span class="s2">&quot;https://{{ PIWIK_SSL_URL }}/&quot;</span> <span class="o">:</span> <span class="s2">&quot;http://{{ PIWIK_URL }}/&quot;</span><span class="p">);</span>
<span class="p">{</span><span class="o">%</span> <span class="k">else</span> <span class="o">%</span><span class="p">}</span>
    <span class="kd">var</span> <span class="nx">pkBaseURL</span> <span class="o">=</span> <span class="p">((</span><span class="s2">&quot;https:&quot;</span> <span class="o">==</span> <span class="nb">document</span><span class="p">.</span><span class="nx">location</span><span class="p">.</span><span class="nx">protocol</span><span class="p">)</span> <span class="o">?</span> <span class="s2">&quot;https://{{ PIWIK_URL }}/&quot;</span> <span class="o">:</span> <span class="s2">&quot;http://{{ PIWIK_URL }}/&quot;</span><span class="p">);</span>
<span class="p">{</span><span class="o">%</span> <span class="nx">endif</span> <span class="o">%</span><span class="p">}</span>
<span class="nb">document</span><span class="p">.</span><span class="nx">write</span><span class="p">(</span><span class="nx">unescape</span><span class="p">(</span><span class="s2">&quot;%3Cscript src=&#39;&quot;</span> <span class="o">+</span> <span class="nx">pkBaseURL</span> <span class="o">+</span> <span class="s2">&quot;piwik.js&#39; type=&#39;text/javascript&#39;%3E%3C/script%3E&quot;</span><span class="p">));</span>
<span class="nt">&lt;/script&gt;&lt;script </span><span class="na">type=</span><span class="s">&quot;text/javascript&quot;</span><span class="nt">&gt;</span>
<span class="k">try</span> <span class="p">{</span>
<span class="kd">var</span> <span class="nx">piwikTracker</span> <span class="o">=</span> <span class="nx">Piwik</span><span class="p">.</span><span class="nx">getTracker</span><span class="p">(</span><span class="nx">pkBaseURL</span> <span class="o">+</span> <span class="s2">&quot;piwik.php&quot;</span><span class="p">,</span> <span class="p">{{</span> <span class="nx">PIWIK_SITE_ID</span> <span class="p">}});</span>
<span class="nx">piwikTracker</span><span class="p">.</span><span class="nx">trackPageView</span><span class="p">();</span>
<span class="nx">piwikTracker</span><span class="p">.</span><span class="nx">enableLinkTracking</span><span class="p">();</span>
<span class="p">}</span> <span class="k">catch</span><span class="p">(</span> <span class="nx">err</span> <span class="p">)</span> <span class="p">{}</span>
<span class="nt">&lt;/script&gt;&lt;noscript&gt;&lt;p&gt;&lt;img</span> <span class="na">src=</span><span class="s">&quot;http://{{ PIWIK_URL }}/piwik.php?idsite={{ PIWIK_SITE_ID }}&quot;</span> <span class="na">style=</span><span class="s">&quot;border:0&quot;</span> <span class="na">alt=</span><span class="s">&quot;&quot;</span> <span class="nt">/&gt;&lt;/p&gt;&lt;/noscript&gt;</span>
{% endif %}
</pre></div>
<ol class="arabic simple" start="2">
<li>Add this line somewhere near the end but before &lt;/body&gt;&lt;/html&gt; to '<tt class="docutils literal"><span class="pre">&lt;skin&gt;/templates/base.html</span></tt>':</li>
</ol>
<div class="highlight"><pre>...
{% include &#39;piwik.html&#39; %}
...
</pre></div>
</div>

            </div><!-- /.entry-content -->
            <div class="comments">
              <h3>Comments</h3>
              <div id="disqus_thread"></div>
              <script type="text/javascript">
                var disqus_identifier = "piwik-for-this-blog.html";
                (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://euer.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
              </script>
            </div>


        </div><!-- /.eleven.columns -->
        
<div class="three columns">

<h4>Pages</h4>

 <ul>
      <li><a href="/wiki/knowledge_base.html">Wiki</a></li>
      <li><a href="/graphs/retiolum/">Graphs</a></li>
      <li><a href="/atom.xml">RSS</a></li>
      <li><a href="./pages/about.html">About</a></li>
  </ul>

<h4>Categories</h4>
<ul>
		<li><a href="./category/posts.html">posts</a></li>
</ul>


<h4>Tags</h4>
	<ul>
	    <li class="tag-4"><a href="./tag/hackery.html">hackery</a></li>
	    <li class="tag-1"><a href="./tag/dropbear.html">dropbear</a></li>
	    <li class="tag-4"><a href="./tag/rtl2832u.html">rtl2832u</a></li>
	    <li class="tag-4"><a href="./tag/iso.html">iso</a></li>
	    <li class="tag-4"><a href="./tag/apache.html">apache</a></li>
	    <li class="tag-4"><a href="./tag/imap.html">imap</a></li>
	    <li class="tag-4"><a href="./tag/dvb-t.html">dvb-t</a></li>
	    <li class="tag-4"><a href="./tag/docker.html">docker</a></li>
	    <li class="tag-4"><a href="./tag/xattr.html">xattr</a></li>
	    <li class="tag-4"><a href="./tag/ftp.html">ftp</a></li>
	    <li class="tag-4"><a href="./tag/tmux.html">tmux</a></li>
	    <li class="tag-4"><a href="./tag/imapfilter.html">imapfilter</a></li>
	    <li class="tag-1"><a href="./tag/graphite.html">graphite</a></li>
	    <li class="tag-1"><a href="./tag/mutt.html">mutt</a></li>
	    <li class="tag-4"><a href="./tag/rhel.html">rhel</a></li>
	    <li class="tag-4"><a href="./tag/elchos.html">elchos</a></li>
	    <li class="tag-4"><a href="./tag/undo.html">undo</a></li>
	    <li class="tag-4"><a href="./tag/spamassassin.html">spamassassin</a></li>
	    <li class="tag-4"><a href="./tag/csr.html">csr</a></li>
	    <li class="tag-4"><a href="./tag/mdadm.html">mdadm</a></li>
	    <li class="tag-4"><a href="./tag/quickstart.html">quickstart</a></li>
	    <li class="tag-4"><a href="./tag/autosart.html">autosart</a></li>
	    <li class="tag-4"><a href="./tag/octopress.html">octopress</a></li>
	    <li class="tag-4"><a href="./tag/windows.html">windows</a></li>
	    <li class="tag-4"><a href="./tag/redhat.html">redhat</a></li>
	    <li class="tag-4"><a href="./tag/lvm.html">lvm</a></li>
	    <li class="tag-4"><a href="./tag/usb.html">usb</a></li>
	    <li class="tag-4"><a href="./tag/pelican.html">pelican</a></li>
	    <li class="tag-1"><a href="./tag/openssh.html">openssh</a></li>
	    <li class="tag-4"><a href="./tag/openssl.html">openssl</a></li>
	    <li class="tag-4"><a href="./tag/lighttpd.html">lighttpd</a></li>
	    <li class="tag-4"><a href="./tag/offlineimap.html">offlineimap</a></li>
	    <li class="tag-4"><a href="./tag/awstats.html">awstats</a></li>
	    <li class="tag-4"><a href="./tag/irssi.html">irssi</a></li>
	    <li class="tag-4"><a href="./tag/screen.html">screen</a></li>
	    <li class="tag-4"><a href="./tag/debian.html">debian</a></li>
	    <li class="tag-4"><a href="./tag/openwrt.html">openwrt</a></li>
	    <li class="tag-4"><a href="./tag/utf8.html">utf8</a></li>
	    <li class="tag-4"><a href="./tag/vim.html">vim</a></li>
	    <li class="tag-4"><a href="./tag/autostart.html">autostart</a></li>
	    <li class="tag-4"><a href="./tag/filesharing.html">filesharing</a></li>
	    <li class="tag-4"><a href="./tag/piwik.html">piwik</a></li>
	    <li class="tag-4"><a href="./tag/subjectaltname.html">subjectAltName</a></li>
	    <li class="tag-4"><a href="./tag/git.html">git</a></li>
	    <li class="tag-4"><a href="./tag/filesystems.html">filesystems</a></li>
	    <li class="tag-4"><a href="./tag/softraid.html">softraid</a></li>
	    <li class="tag-4"><a href="./tag/ldap.html">ldap</a></li>
	    <li class="tag-4"><a href="./tag/ruby.html">ruby</a></li>
	    <li class="tag-4"><a href="./tag/conventions.html">conventions</a></li>
	    <li class="tag-4"><a href="./tag/wps.html">wps</a></li>
	    <li class="tag-4"><a href="./tag/collectd.html">collectd</a></li>
	    <li class="tag-4"><a href="./tag/python.html">python</a></li>
	    <li class="tag-4"><a href="./tag/davfs.html">davfs</a></li>
</ul>


<nav class="widget">
  <h4>Social</h4>
  <ul>
    <li><a href="http://twitter.com/makefoo">@makefoo</a></li>
  </ul>
</nav>

</div> </div><!-- /.row -->


</section>

       </div><!-- /.row -->
    </div><!-- /.container -->


       <div class="container.nopad bg">

    
        <footer id="credits" class="row">
          <div class="seven columns left-center">

                   <address id="about" class="vcard body">
                    Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
                    which takes great advantage of <a href="http://python.org">Python</a>.
                    <br />
                    Based on the <a target="_blank" href="http://gumbyframework.com">Gumby Framework</a>
                    </address>
          </div>


          <div class="seven columns">
            <div class="row">
              <ul class="socbtns">





              </ul>
            </div>
          </div>
        </footer>

    </div>


<script type="text/javascript">
    var disqus_shortname = 'euer';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
    <script type="text/javascript">
        var pkBaseURL = (("https:" == document.location.protocol) ? "https://mediengewitter.krebsco.de:10000/" : "http://mediengewitter.krebsco.de:10000/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script type="text/javascript">
    try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
    } catch( err ) {}
    </script><noscript><p><img src="http://mediengewitter.krebsco.de:10000/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
  <script src="./theme/js/libs/jquery-1.9.1.min.js"></script>
  <script src="./theme/js/libs/gumby.min.js"></script>
  <script src="./theme/js/plugins.js"></script>
</body>
</html>